# DB
MONGO_USER=""
MONGO_PASSWORD=""
MONGO_DB_NAME=""
MONGO_CLUSTER_NAME=""

#JWT
JWT_SECRET_KEY=""
JWT_TOKEN_LOCATION=[]
JWT_IDENTITY_CLAIM="user_id"

# General
DEVELOPMENT=True

#PubNub
PUBNUB_SUB_KEY=sub-X-XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX
PUBNUB_PUB_KEY=pub-X-XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX
PUBNUB_SECRET_KEY=sec-X-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
PUBNUB_TOKEN_TTL="1000" #Minutes
